{{- define "content"}}
{{- $categories := .Site.Taxonomies.categories }}
<main class="main" role="main">
    <article class="article article-categories article-type-list" itemscope="">
        <header class="article-header">
            <h1 itemprop="name" class="hidden-xs">Category: {{ .Title }}</h1>
            <nav role="navigation" id="nav-main" class="okayNav">
                <ul>
                    <li><b>Other categories:</b></li>
                    <li><a href="{{- "categories.html" | relURL }}">{{- T "nav_all" }}</a></li>
                    {{- range $categories }}
                        <li><a href="{{ .Page.Permalink }}">{{ .Page.Title }}</a></li>
                    {{- end }}
                </ul>
            </nav>
        </header>
        <div class="article-body">
            <div class="panel panel-default b-no">
                <div class="panel-heading" role="tab">
                    <h4 class="panel-title">
                        <i class="icon icon-folder text-active"></i><i class="icon icon-folder-open text"></i>
                        &nbsp; {{- .Name }}
                    </h4>
                </div>
                <div id="collapse{{ .Name | md5 }}" class="panel-collapse collapse in" role="tabpanel"
                    aria-labelledby="heading{{ .Name | md5}}">
                    <div class="panel-body">
                        <div class="collection">
                            {{- range .Pages }}
                            {{- partial "item-post.html" . }}
                            {{- end }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>
</main>
{{- end }}